<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--
  <connectionStrings>
    <add name="MovieLibraryEntities" connectionString="metadata=res://*/MovieNetModel.csdl|res://*/MovieNetModel.ssdl|res://*/MovieNetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Morgane\Desktop\Piscine\MovieNET\theoph_m\MovieNET\MovieNET\bin\Debug\MovieLibrary.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  -->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFacade" />
                <binding name="BasicHttpBinding_IFacade1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54321/Facade.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFacade1" contract="ServiceFacade.IFacade"
                name="BasicHttpBinding_IFacade" />
        </client>
    </system.serviceModel>
</configuration>